*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:  'Montserrat', sans-serif;
    color: black;
}
body {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.side{
    background-image: url('sing in.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.side.img{
    width: 50%;
    min-width: 50%;
}
.login-container{
    max-width: 450px;
    padding: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.separator{
    width:150px;
    height: 4px;
    background-color: goldenrod;
    margin: 24px;
}
.welcome-message{
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-top: 30px;
    color: #696969;
}
.login-form{
    flex-direction:column;
    display: flex;
    width: 100%;
}
.form-control{
    width: 100%;
    position: relative;
    margin-bottom: 24px;    
}
input{
   border: none;
   outline: none;
   background-color: whitesmoke;
   border-radius: 30px;
   font-size: 1.1em;
   color: #B8860B;
}
button{
   border: none;
   outline: none;
   background-color: goldenrod;
   border-radius: 30px;
   font-size: 1.1em;
   width:100% ;
   padding:10px 60px ;
}
input{
    width: 100%;
    letter-spacing: 0.5px;
    padding: 10px 60px;
}
input~i{
    position: absolute;
    color: #333;
    transition: color 0.4s;
}
input:focus~i{
    color: goldenrod;
}
.button{
    color: white;
    background: linear-gradient(to right, #000000, #B8860B, #FFD700);
    text-transform: uppercase;
}
.button:hover{
    background-color: black;
    color:white;
    cursor: pointer;
}
/* Media Queries */

/* For screens smaller than 768px */
@media only screen and (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
    }

    section.side {
        height: 50vh;
    }

    .login-container {
        margin-top: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .title {
        font-size: 2em;
    }

    .separator {
        width: 100px;
    }
}